/docs/
/lib/
/bin/
/.shards/
*.dwarf
.crystal/
.croupier
.hace/
/ext/build/
compare/
/doc.pdf
/output.pdf
/pdf
/x.md
/xx.pdf
/.zcode/


# shards artifacts from running shards inside the in-tree shard
hyphen/lib/
hyphen/shard.lock
