[submodule "ext/litehtml"]
	path = ext/litehtml
	url = https://github.com/ralsina/litehtml.git
	# markpdf-integration carries the row-boxes API markpdf needs on top
	# of the prune-clipped-subtrees branch (which tracks the upstream PR).
	branch = markpdf-integration
[submodule "ext/libtexprintf"]
	path = ext/libtexprintf
	url = https://github.com/bartp5/libtexprintf
